<div class="mylist">
  <h1>Main Data Download Component</h1>
  <h3>Main options to download data: listing of all JSON and non JSON files</h3>


  <div class="downloadOption" id="getarchivesjsonlist">
    <h5>Get a list of JSON archives</h5>
    <button (click)=getarchivesjsonlist()>get JSON archives list</button>
  </div>

  <div class="downloadOption" id="getarchiveslist">
    <h5> Get a list of non-JSON archives </h5>
    <button (click)=getarchiveslist()>get archives list</button>
  </div>

  <h3>Options to download files filtered</h3>
  <div class="downloadOption" id="filterByTaxonomyTerm">
    <h5>Get a list of non-JSON archives filtered by taxonomy term</h5>
    <i>Select taxonomy term:</i>
    <select name="TaxonomyTerm" #myTaxTerm (keyup)="0">
      <option value="Potencia">Potencia</option>
      <option value="Energia">Energía</option>
      <option value="Generación y consumo">Generación y consumo</option>
      <option value="Mercados y precios">Mercados y precios</option>
      <option value="Sistemas no peninsulares">Sistemas no peninsulares</option>
      <option value="Descargas">Descargas</option>
      <option value="Liquidaciones">Liquidaciones</option>
      <option value="Pérdidas">Pérdidas</option>
      <option value="Medidas">Medidas</option>
    </select>
    <button (click)=getarchiveslistfiltered(myTaxTerm.value)>get archives list filtered by taxonomy term</button>
  </div>


  <!--Este bloque readaptable a Getting a specific Archive GET /archives/3186?date=2015-09-15T23%3A59%3A59%2B00%3A00-->
  <div class="downloadOption" id="getarchivesByDate">
    <h5>Get a list of Archives filtered by date and time</h5>
    <i>Select date: </i>
    <input type="datetime-local" #myInput (keyup)="0"/>
    <button (click)=getarchivesByDate(myInput.value)>get archives by date</button>
  </div>

  <div class="downloadOption" id="getarchivesDateTaxonomy">
    <h5>Get a list of Archives filtered by date and taxonomy term</h5>
    <i>Select date: </i>
    <input type="datetime-local" #myDate (keyup)="0"/>
    <i>Select taxonomy term: </i>
    <select name="TaxonomyTerm" #taxTerm (keyup)="0">
      <option value="Potencia">Potencia</option>
      <option value="Energia">Energía</option>
      <option value="Generación y consumo">Generación y consumo</option>
      <option value="Mercados y precios">Mercados y precios</option>
      <option value="Sistemas no peninsulares">Sistemas no peninsulares</option>
      <option value="Descargas">Descargas</option>
      <option value="Liquidaciones">Liquidaciones</option>
      <option value="Pérdidas">Pérdidas</option>
      <option value="Medidas">Medidas</option>

    </select>
    <button (click)=getarchivesDateTaxonomy(myDate.value,taxTerm.value)>get archives fitered by date and taxonomy term</button>

  </div>

  <div class="downloadOption" id="getarchivesStartEndDateDateType">
    <h5>Get a list of archives filtered by start and end date and type "datos" or "publication"</h5>
    <i>Start date: </i>
    <input type="datetime-local" #myStartDate (keyup)="0"/>

    <i>End date: </i>
    <input type="datetime-local" #myEndDate (keyup)="0"/>

    <b>Type</b>
    <select name="DateType" #myType (keyup)="0">
      <option value="datos">datos</option>
      <option value="publicacion">publicacion</option>
    </select>

    <button (click)=getarchivesStartEndDateDateType(myStartDate.value,myEndDate.value,myType.value)>get archives between two dates</button>

  </div>
</div>

<div class="mylist">
  <h1> Listing of archives selected</h1>

  <li class="listing" *ngFor="let archive of listarchives">
    <div class="archive-list-item">
      ID: {{archive.id}}<br>
      Name: {{archive.name}}<br>
      <div *ngIf="archive.description;else nodesciption">
        Description: {{archive.description}}<br>
      </div>
      <ng-template #nodesciption>
        <div>No description</div>
      </ng-template>
      Archive type: {{archive.archive_type}}<br>
      <div *ngIf="archive">
        <div class="preview" *ngIf="((previewFile)&&(previewFile.archive.name==archive.name))">
           {{previewFile.archive|json}}
         </div>
        <button (click)=getarchive(archive.id)>Get Archive preview</button>
        <div *ngIf="archive.archive_type=='json'">
          <button (click)=getarchive(archive.json_download.url,archive.name)>Get JSON archive data</button>
        </div>
      </div>
      <div *ngIf="(archive.archive_type=='json')&&((archive.name=='PVPC_VHC_P3_DD')
                                                    ||(archive.name=='PVPC_VHC_P2_DD')
                                                    ||(archive.name=='PVPC_VHC_P1_DD')
                                                    ||(archive.name=='PVPC_NOC_P2_DD')
                                                    ||(archive.name=='PVPC_NOC_P1_DD')
                                                    ||(archive.name=='PVPC_GEN_P1_DD'))">


          <h5>Get this data restricted between two dates</h5>
          <i>Start date: </i>
          <input type="datetime-local" #myStartDateCalculations (keyup)="0"/>
          <i>End date: </i>
          <input type="datetime-local" #myEndDateCalculations (keyup)="0"/>
          <button (click)=getJSONdataCalculations(archive.id,archive.name,myStartDateCalculations.value,myEndDateCalculations.value)>get calculations</button>

      </div>


      <div *ngIf="archive.archive_type=='pdf'||archive.archive_type=='xls'">
        <button (click)=downloadArchive(archive.download.url,archive.name,archive.archive_type)>Download archive</button>
      </div>

     <div>
       <input type="datetime-local" #mySpecificDate (keyup)="0"/>
       <button (click)=getSpecificArchive(archive.id,mySpecificDate.value)>get this file with another date</button>
     </div>
    </div>

  </li>
</div>
