.mylist{
  font-size: 16px;
  text-align: justify;
  box-shadow: 7px 6px 5px 3px #d09292;
  border: 1px solid #cb7a7a;
  padding-right: 5px;
  padding-left: 5px;
}
.mylist h1{
  font-size: 26px;
}

.mylist h2{
  font-size: 24px;
}

.mylist h3{
  font-size: 22px;
}

.downloadOption{
  margin-top:10px;
  margin-bottom:10px;
}

.archive-list-item{
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  padding-left: 10px;
  padding-right: 2px;
  background-color: rgb(229, 229, 246);
  font-size: 16px;
}

.listing{
  list-style-type: decimal;
  border-top: 5px solid #a26060;
  margin-top: 10px;
}

.preview{
  background-color: rgb(200,180,150);
  margin-top: 5px;
  padding: 5px;
}
