<h1>Main Data Download page</h1>
<h2>Main options to download data: listing of all JSON and non JSON files</h2>


  <div class="downloadOption" id="getarchivesjsonlist">
    <h3>Get a list of JSON archives</h3>
    <button (click)=getarchivesjsonlist()>get JSON archives list</button>
  </div>

  <div class="downloadOption" id="getarchiveslist">
    <h3> Get a list of non-JSON archives </h3>
    <button (click)=getarchiveslist()>get archives list</button>
  </div>

<h2>Options to download files filtered</h2>
  <div class="downloadOption" id="filterByTaxonomyTerm">
    <h3>Get a list of non-JSON archives filtered by taxonomy term</h3>
    <i>Select taxonomy term:</i>
    <select name="TaxonomyTerm" #myTaxTerm (keyup)="0">
      <option value="Potencia">Potencia</option>
      <option value="Energia">Energía</option>
      <option value="Generación y consumo">Generación y consumo</option>
      <option value="Mercados y precios">Mercados y precios</option>
      <option value="Sistemas no peninsulares">Sistemas no peninsulares</option>
      <option value="Descargas">Descargas</option>
      <option value="Liquidaciones">Liquidaciones</option>
      <option value="Pérdidas">Pérdidas</option>
      <option value="Medidas">Medidas</option>
    </select>
    <button (click)=getarchiveslistfiltered(myTaxTerm.value)>get archives JSON list filtered by taxonomy term</button>
  </div>


  <!--Este bloque readaptable a Getting a specific Archive GET /archives/3186?date=2015-09-15T23%3A59%3A59%2B00%3A00-->
  <div class="downloadOption" id="getarchivesByDate">
    <h3>Get a list of Archives filtered by date and time</h3>
    <i>Select date: </i>
    <input type="datetime-local" #myInput (keyup)="0"/>
    <button (click)=getarchivesByDate(myInput.value)>get archives by date</button>
  </div>

  <div class="downloadOption" id="getarchivesDateTaxonomy">
    <h3>Get a list of Archives filtered by date and taxonomy term</h3>
    <i>Select date: </i>
    <input type="datetime-local" #myDate (keyup)="0"/>
    <i>Select taxonomy term: </i>
    <select name="TaxonomyTerm" #taxTerm (keyup)="0">
      <option value="Potencia">Potencia</option>
      <option value="Energia">Energía</option>
      <option value="Generación y consumo">Generación y consumo</option>
      <option value="Mercados y precios">Mercados y precios</option>
      <option value="Sistemas no peninsulares">Sistemas no peninsulares</option>
      <option value="Descargas">Descargas</option>
      <option value="Liquidaciones">Liquidaciones</option>
      <option value="Pérdidas">Pérdidas</option>
      <option value="Medidas">Medidas</option>

    </select>
    <button (click)=getarchivesDateTaxonomy(myDate.value,taxTerm.value)>get archives fitered by date and taxonomy term</button>

  </div>

  <div class="downloadOption" id="getarchivesStartEndDateDateType">
    <h3>Get a list of archives filtered by start and end date and type "datos" or "publication"</h3>
    <i>Start date: </i>
    <input type="datetime-local" #myStartDate (keyup)="0"/>

    <i>End date: </i>
    <input type="datetime-local" #myEndDate (keyup)="0"/>

    <b>Type</b>
    <select name="DateType" #myType (keyup)="0">
      <option value="datos">datos</option>
      <option value="publicacion">publicacion</option>
    </select>

    <button (click)=getarchivesStartEndDateDateType(myStartDate.value,myEndDate.value,myType.value)>get archives between two dates</button>

  </div>

  <div class="downloadOption" id="getSpecificArchive">
    <h3>Get a specific archive by ID and datetime</h3>
    <input type="text" #mySpecificID (keyup)="0"/>
    <input type="datetime-local" #mySpecificDate (keyup)="0"/>
    <button (click)=getSpecificArchive(mySpecificID.value,mySpecificDate.value)>get archives between two dates</button>
  </div>


  <div *ngIf="previewFile">
     {{previewFile|json}}
   </div>

<h2> Listing of archives </h2>
  <li *ngFor="let archive of listarchives">
    <div class="archive-list-item">
      ID: {{archive.id}}<br>
      Name: {{archive.name}}<br>
      Description: {{archive.description}}<br>
      Archive type: {{archive.archive_type}}<br>
      <div *ngIf="archive">
        <button (click)=getarchive(archive.id)>Get Archive preview</button>
      </div>
      <div *ngIf="archive.archive_type=='json'">
        <button (click)=getarchive(archive.json_download.url)>Get JSON archive data</button>
        <div>
          <i>Start date: </i>
          <input type="datetime-local" #myStartDateCalculations (keyup)="0"/>
          <i>End date: </i>
          <input type="datetime-local" #myEndDateCalculations (keyup)="0"/>
          <button (click)=getJSONdataCalculations(archive.id,myStartDateCalculations.value,myEndDateCalculations.value)>get calculations</button>
        </div>
      </div>
      <div *ngIf="archive.date">
        <button (click)=getSpecificArchive(archive.id,archive.date)>Get specific archive by id and date</button>
      </div>
      <div *ngIf="archive.download">
        <button (click)=getarchive(archive.download.url)>Get Archive download value</button>
        <button (click)=downloadArchive(archive.id,archive.name,archive.archive_type)>Download pdf archive</button>
      </div>

    </div>
  </li>
