<script src="node_modules/chart.js/src/chart.js"></script>

<button type="button" class="btn btn-primary btn-sm" routerLink="/">Return</button>


<div id="titlefile">
<b>Title of file downloaded:</b>
{{archiveName}}</div>

<div [hidden]="!myChart">
  <canvas id="canvas">{{ myChart }}</canvas>
  <div *ngIf="(dataArchive && mode_Ind_DemandaPrevProg)"><!--puede que esto sea innecesario-->
     {{time}}
    <button (click)=newData()>new data</button>
  </div>
</div>

<div *ngIf="dataArchive && mode_energyAnualMensual">
  <ul><li *ngFor="let data of dataArchive">
    Year: {{data["Año"]}}
    Energy: {{data["GWh"]}}
  </li></ul>
</div>

<div *ngIf="dataArchive && mode_Ind_MaxMinRenovEol">
  <div *ngFor="let data of dataArchive">

    <b>maxRenov: </b>{{data["maxRenov"]}}<br>
    <b>minRenov: </b>{{data["minRenov"]}}<br>
    <b>maxEol: </b>{{data["maxEol"]}}<br>
    <b>minEol: </b>{{data["minEol"]}}<br>
    <b>tsMaxRenov: </b>{{data["tsMaxRenov"]}}<br>
    <b>tsMinEol: </b>{{data["tsMinEol"]}}<br>
    <b>tsMinRenov: </b>{{data["tsMinRenov"]}}

  </div>
</div>

<div *ngIf="dataArchive && mode_Ind_MaxMin">
  <div *ngFor="let data of dataArchive">

    <b>max: </b>{{data["max"]}}<br>
    <b>min: </b>{{data["min"]}}<br>
    <b>timeStampMax: </b>{{data["timeStampMax"]}}<br>
    <b>timeStampMin: </b>{{data["timeStampMin"]}}<br>
    <b>date: </b>{{data["date"]}}

 </div>
</div>


<div *ngIf="dataArchive && mode_Ind_DemandaRealGen">
  <div *ngFor="let data of dataArchive">

  {{data|json}}

 </div>
</div>

<div *ngIf="dataArchive && mode_Ind_DemandaPrevProg">
  <div *ngFor="let data of dataArchive">

   {{data|json}}

  </div>
</div>

<div *ngIf="dataArchive && mode_EntitledParticipants">
  <ul><li *ngFor="let data of dataArchive">
    {{data["Participant"]}}
    EIC code: {{data["EIC Code"]}}
  </li></ul>
</div>

<div *ngIf="dataArchive && mode_BalanceResponsibleParties">
  <ul><li *ngFor="let data of dataArchive">
    <b>BRP code: </b>{{data["BRP Code"]}}
    <b>Name: </b>{{data["Name"]}}
    <b>EIC code: </b>{{data["EIC Code"]}}
    <b>BRP Type: </b>{{data["BRP Type"]}}
  </li></ul>
</div>

<div *ngIf="dataArchive && mode_ProgrammingUnits">
  <ul><li *ngFor="let data of dataArchive">

      <b>BRP </b>Code{{data["BRP Code"]}}
      <b>EIC Code</b>{{data["EIC Code"]}}
      <b>Large Description</b>{{data["Large Description"]}}
      <b>Maximum Power Capacity MW</b>{{data["Maximum Power Capacity MW"]}}
      <b>Production Type</b>{{data["Production Type"]}}
      <b>Regulation Zone</b>{{data["Regulation Zone"]}}
      <b>Scope</b>{{data["Scope"]}}
      <b>Short Description</b>{{data["Short Description"]}}
      <b>Trade</b>{{data["Trade"]}}
      <b>UP Code</b>{{data["UP Code"]}}
      <b>UP Type</b>{{data["UP Type"]}}

  </li></ul>
</div>

<div *ngIf="dataArchive && mode_GenerationUnits">
  <ul><li *ngFor="let data of dataArchive">

    {{data|json}}
    Data received!!!

  </li></ul>
</div>

<div *ngIf="dataArchive && mode_ParticipantesSubasta">
  <ul><li *ngFor="let data of dataArchive">

  {{data|json}}
    Data received!!!

  </li></ul>
</div>


<div *ngIf="dataArchive && mode_SujetosMercado">
  <ul><li *ngFor="let data of dataArchive">

  {{data|json}}
    Data received!!!

  </li></ul>
</div>


<div *ngIf="dataArchive && mode_UnidadesProgramacion">
  <ul><li *ngFor="let data of dataArchive">

  {{data|json}}
    Data received!!!

  </li></ul>
</div>


<div *ngIf="dataArchive && mode_unidadesFisicas">
  <ul><li *ngFor="let data of dataArchive">

  {{data|json}}
    Data received!!!

  </li></ul>
</div>


<div *ngIf="dataArchive && mode_FilePVPC">
  <ul><li *ngFor="let data of dataArchive">

      {{data|json}}

  </li></ul>
</div>

<div *ngIf="dataArchive && mode_Ind_Umbrales">
  <ul><li *ngFor="let data of dataArchive">

      <b>{{data[0]}}: </b>{{data[1]}}

  </li></ul>
</div>


<div *ngIf="dataArchive && mode_Ind_PrecioFinal">
  <ul><li *ngFor="let data of dataArchive">

      {{data|json}}

  </li></ul>
</div>

<div *ngIf="dataArchive && mode_Ind_PrecioDesvios">
  <ul><li *ngFor="let data of dataArchive">

      {{data|json}}

  </li></ul>
</div>


<div *ngIf="dataArchive && mode_Ind_PotInstal">
  <ul><li *ngFor="let data of dataArchive">

      {{data|json}}

  </li></ul>
</div>

<div *ngIf="dataArchive && mode_Ind_Interconexiones">
  <ul><li *ngFor="let data of dataArchive">

      {{data|json}}

  </li></ul>
</div>

<div *ngIf="dataArchive && mode_Ind_DemandaInterrumpible">
  <ul><li *ngFor="let data of dataArchive">

      {{data|json}}

  </li></ul>
</div>

<!--pruebas-->
<div *ngIf="dataArchive && mode_dataForCalculations">
  Title of archive: {{archiveName}}
  <br>
  Aditinal Data: {{aditionalData}}
  <app-my-calculations>

  </app-my-calculations>
</div>
