/* You can add global styles to this file, and also import other style files */
a{
  color:blue;
}

a#redirections{
  color: #743232;
  font-size: 20px;
  margin: 60px;
  background-color: #b7b7ea;
}

#prov-intro{
  background-color: rgb(204, 223, 249);
}

#prov-intro pre{
  font-size: 20px;
}
