<div class="archive-list-item">
  ID: {{archive.id}}<br>
  Name: {{archive.name}}<br>
  <div *ngIf="archive.description;else nodesciption">
    Description: {{archive.description}}<br>
  </div>
  <ng-template #nodesciption>
    <div>No description</div>
  </ng-template>
  Archive type: {{archive.archive_type}}<br>
  <div *ngIf="archive">
    <div class="preview" *ngIf="((previewFile)&&(previewFile.archive.name==archive.name))">
       {{previewFile.archive|json}}
     </div>
    <button (click)=getarchive(archive.id)>Get Archive preview</button>
    <div *ngIf="archive.archive_type=='json'">
      <button (click)=getarchive(archive.json_download.url,archive.name)>Get JSON archive data</button>
    </div>
  </div>
  <div *ngIf="(archive.archive_type=='json')&&((archive.name=='PVPC_VHC_P3_DD')
                                                ||(archive.name=='PVPC_VHC_P2_DD')
                                                ||(archive.name=='PVPC_VHC_P1_DD')
                                                ||(archive.name=='PVPC_NOC_P2_DD')
                                                ||(archive.name=='PVPC_NOC_P1_DD')
                                                ||(archive.name=='PVPC_GEN_P1_DD')
                                              )">


      <h5>Get this data restricted between two dates</h5>
      <i>Start date: </i>
      <input type="datetime-local" #myStartDateCalculations (keyup)="0"/><br>
      <i>End date: </i>
      <input type="datetime-local" #myEndDateCalculations (keyup)="0"/><br>
      <button (click)=getJSONdataCalculations(archive.id,archive.name,myStartDateCalculations.value,myEndDateCalculations.value)>get calculations</button>

  </div>


  <div *ngIf="archive.archive_type=='pdf'||archive.archive_type=='xls'">
    <button (click)=downloadArchive(archive.download.url,archive.name,archive.archive_type)>Download archive</button>
  </div>

 <div>
   <input type="datetime-local" #mySpecificDate (keyup)="0"/>
   <button (click)=getSpecificArchive(archive.id,mySpecificDate.value)>get this file with another date</button>
 </div>
</div>
