.archive-list-item{
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  padding-left: 10px;
  padding-right: 2px;
  background-color: rgb(229, 229, 246);
  font-size: 16px;
}

.preview{
  background-color: rgb(200,180,150);
  margin-top: 5px;
  padding: 5px;
}
