<div id="prov-intro">
  <pre>
     <b>Introduction</b>
     This application downloads data through the Spanish Electric Network API.
     <a href="https://api.esios.ree.es/">https://api.esios.ree.es/</a> in order to show these data, and perform calculations on them.

     Through an own API it will store in BBDD the results of relevant calculations
     to be able to present them independently.
     Front technology: Angular 5, Chart.js, Blob.
     Back technology: node.js, express, mongoDB..
  </pre>
  <a id="redirections" routerLink="/archive-list">Go to Main Data Options Page</a>
</div>
