#my-calculations{
  border: 2px solid rgb(191, 95, 132);
  border-radius: 10px;
  background-color: rgba(179, 243, 242, 0.33);
  padding: 5px;
}

.response{
  text-decoration: underline;
  color: red;
  font-size: 22px;
}
